body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0em;
  color: #5E5A54;
  font-size: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
  color: #392a25;
  margin-top: 0;
  margin-bottom: 0;
}
h1, .h1 {
	font-size:56px;
}
h2, .h2 {
    font-size: 40px;
}
h3, .h3 {
    font-size: 34px;
}
h4, .h4 {
    font-size: 24px;
}
h5, .h5 {
    font-size: 20px;
}
h6, .h6 {
    font-size: 16px;
}

a {
  color: #5e5a54;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.bg-light {
  background-color: #d8eafb;
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 33%, rgba(60,155,244,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 33%, rgba(60,155,244,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 33%, rgba(60,155,244,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#3c9bf4",GradientType=1);
}

.navbar-brand img {
  width: 415px;
}

.main-slider img {
  max-width: 100vw;
  min-width: 100vw;
}

.section-pretitle {
  color: #08a22b;
  line-height: 1.2;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  font-family: "Great Vibes";
  margin-bottom: 10px;
}

.section-title {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: -20px;
}

.organik-seperator {
  margin: 0px auto 90px auto;
  max-width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.organik-seperator .sep-holder {
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 10%;
}
.organik-seperator .sep-holder .sep-line {
  height: 1px;
  border-top: 1px solid #ebebeb;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}
.organik-seperator .sep-icon i {
  font-size: 30px;
  color: #08a22b;
  display: inline-block;
}

.about-main-img {
  padding: 0;
  z-index: 2;
  margin-top: -40px;
  margin-right: -40px;
  text-align: center;
}
.about-content {
  border: 6px solid #08a22b;
  border-top: 0;
  margin-bottom: -40px;
  width: calc(50% + 40px);
  padding: 0;
}
.about-content-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -17px;
  width: 100%;
  overflow: hidden;
}
.about-content-title h4 {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 20px;
}
.about-content-text {
  padding: 35px 43px 30px 83px;
}
.about-content-text p:first-child {
  margin-top: 0;
}
.about-carousel {
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}
.about-carousel a {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  border: 5px solid #fff;
  display: block;
}
.about-carousel a:before {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 2px solid #08a22b;
  opacity: 0;
  z-index: 3;
  background-color: #fff;
}

.masonry-item {
  margin-bottom: 30px;
  text-align: center;
  outline: 0;
}

.product-item .product-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #f1eeea;
  padding: 0;
  width: 262px;
  height: 262px;
  position: relative;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.product-item .product-thumb:hover {
  border-color: #08a22b;
}
.product-item .product-thumb a {
  display: block;
  overflow: hidden;
}
.product-item .product-thumb img {
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.product-item:hover .product-thumb img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.product-item .product-info a {
  text-decoration: none;
}
.product-item .product-info .title {
  font-size: 18px;
  font-weight: 700;
  color: #5e5a54;
  margin: 20px 0 10px 0;
  font-family: Lato;
}
.product-item .product-info .price {
  font-size: 16px;
  font-weight: 700;
  color: #08a22b;
}
.product-item .product-info .price del {
  color: #cbcac8;
  font-weight: 400;
}
.product-item .product-info .price ins {
  text-decoration: none;
}

.copyright {
  display: block;
  width: 100%;
  position: relative;
  background: #2093e0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.pt-6 {
  padding-top: 120px;
}
.pb-9 {
  padding-bottom: 90px;
}
.pb-10 {
  padding-bottom: 180px;
}

@media screen and (max-width: 768.99999999px) {
  .navbar-brand {
    margin: 0px auto;
  }
  h2, .h2 {
    font-size: 18.4px;
  }
  .pt-6 {
    padding-top: 60px;
  }
  .pb-9 {
    padding-bottom: 25px;
  }
  .pb-10 {
    padding-bottom: 90px;
  }
  .organik-seperator {
    margin: 0px auto 10px auto;
  }
  .about-content {
    width: 100%;
  }
  .about-content-title, .about-content-title h4 {
    margin: 10px auto 0px auto;
    text-align: center;
  }
  .about-main-img {
    margin-top: 10px;
  }
  .product-item .product-thumb {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 769px) {
  .about-content-title-line {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
    border-top: 6px solid #08a22b;
    margin-left: 30px;
    margin-top: 5px;
  }
  .about-content-title h4 {
    margin-left: 83px;
    white-space: nowrap;
  }
}